<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>user_login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>nitinPersonalPractice.MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueBooks</servlet-name>
        <servlet-class>servlets.IssueBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfterIssueBook</servlet-name>
        <servlet-class>servlets.AfterIssueBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeBooks</servlet-name>
        <servlet-class>servlets.AdminHomeBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllAvailableBooks</servlet-name>
        <servlet-class>servlets.AllAvailableBooks_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllAvailableBooks_user</servlet-name>
        <servlet-class>servlets.AllAvailableBooks_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllUsers</servlet-name>
        <servlet-class>servlets.ShowAllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowIsuedBooks</servlet-name>
        <servlet-class>servlets.ShowIsuedBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeBooks</servlet-name>
        <servlet-class>servlets.UserHomeBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>servlets.DeleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>servlets.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>servlets.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueBooks</servlet-name>
        <url-pattern>/IssueBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfterIssueBook</servlet-name>
        <url-pattern>/AfterIssueBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeBooks</servlet-name>
        <url-pattern>/AdminHomeBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllAvailableBooks</servlet-name>
        <url-pattern>/AllAvailableBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllAvailableBooks_user</servlet-name>
        <url-pattern>/AllAvailableBooks_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllUsers</servlet-name>
        <url-pattern>/ShowAllUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowIsuedBooks</servlet-name>
        <url-pattern>/ShowIsuedBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeBooks</servlet-name>
        <url-pattern>/UserHomeBooks</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>servlets.UserLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>servlets.AddBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ReturnBooks</servlet-name>
        <servlet-class>servlets.ReturnBooks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReturnBooks</servlet-name>
        <url-pattern>/ReturnBooks</url-pattern>
    </servlet-mapping>
</web-app>
